/* top-main */
.main {
  position: relative;
}

.main-contents__wrap {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  border-bottom: solid 1px #ccc;
  margin-top: 20px;
}

.main-contents__wrap-item {
  background-color: #3366ff;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 150px;
}

.main-contents__title {
  margin-top: 20px;
  font-size: 24px;
}
