@charset "UTF-8";
/* header */

html, body {
  height: 100%;
}

.wrap {
  width: 100%;
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%;
}

.header-contents {
  display: flex;
  position: static;
  top: 0;
  left: 0;
  z-index: 100;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.header-title-text {
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3366ff;
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #ccc;
}

select::-ms-expand {
  display: none;
}

.header-search {
  line-height: 50px;
}

.header-search__list {
  display: flex;
  width: auto;
}

.header-search__list__text {
  width: 100%;
}

.header-search__list__pull {
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.header-search__list__pull__box {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-search__list__pull::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  background: #ccc;
  height: 40px;
  width: 30px;
}

.header-search__list__pull::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent;
}

.header-search__list__text>input {
  font-size: 20px;
  border: solid 1px #ccc;
  height: 38px;
  padding: 0 0 0 5px;
  width: 500px;
}

.header-search__list__btn>input {
  font-family: FontAwesome;
  height: 40px;
  width: 50px;
  border-left: none;
}

.header-account {
  display: inline-block;
  line-height: 50px;
  margin-left: auto;
}

.header-account__menu {
  margin: 0px 0px 0px 10px;
  background-color: #3366ff;
}

.header-account__menu li {
  width: 120px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.header-account__menu a {
  background-color: #3366ff;
  color: #fff;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.header-account__menu a:hover {
  background-color: #aaaaff;
  color: #3366ff;
}

.header-account__menu ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.header-account__menu li:hover ul {
  display: block;
}

.header-account__menu ul li {
  width: 120px;
  border-top: solid 1px;
}

.header-account__menu__link {
  line-height: 35px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

.header-cart__link {
  line-height: 50px;
  width: 120px;
  background-color: #3366ff;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: block;
  border-left: solid 1px;
  font-size: 24px;
}

.header-cart__link:hover {
  background-color: #aaaaff;
}

/* footer */

.footer {
  color: #fff;
  background-color: #0000cc;
  /*position: absolute;*/
  bottom: 0;
}

.footer .foot-contents {
  padding: 40px 20px;
}

@media (min-width: 768px) {
  .footer .foot-contents {
    display: flex;
    flex-wrap: wrap;
  }
  .footA {
    flex: 0 0 40%;
  }
  .footB {
    flex: 0 0 60%;
  }
  .footC {
    flex: 0 0 100%;
  }
}

.footA {
  margin-bottom: 30px;
}

.footA .foot-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
}

.footA .foot-info {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.footA .foot-link {
  color: inherit;
  text-decoration: none;
}

.footB .foot-nav {
  margin-bottom: 20px;
}

.footB .foot-heading {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: solid 1px currentColor;
  font-size: 14px;
}

.footB .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footB a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.footB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .footB {
    display: flex;
  }
  .footB .foot-nav {
    flex: 1;
  }
  .footB .foot-nav:not(:first-child) {
    margin-left: 40px;
  }
}

.footC {
  margin: 10px;
}

.footC .copyright {
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
